

body {
    padding: 0;
    margin: 0;
}

header img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
}

#menu-container {
    background-color: #F0F0F0;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

nav ul {
    margin: 0;
    padding: 0;
}